@{
    ViewBag.Title = "Login";
}

<div class="center-screen">
    <div style="width: 300px;">
        <div class="align-center">
            <h2>Login</h2>
        </div>

        <form method="post" action="/Account/Login">
            <div class="form-group">
                <br/>
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required class="form-control"/>
            </div>

            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required class="form-control"/>
            </div>
            
            <div class="form-group button-group">
                <input type="submit" value="Login" class="btn btn-primary form-button"/>
                @Html.ActionLink("Register", "Register", "Account", null, new { @class = "btn btn-secondary form-button", @style = "text-transform: none;" })                <button class="back-button" onclick="location.href='@Url.Action("HomePage", "Home")'" type="button">Back</button>    


                <div class="align-right">
                </div>
            </div>
        </form>
    </div>
</div>

<script>
function goBack() {
    window.history.back();
}
</script>