<div class="container">
<div style="display: flex; justify-content: center; align-items: center; height: 70vh;">
    <img src="~/Content/images/about.svg" alt="Description of image" style="width: 878px; height: 200px; max-width: 100%; height: auto;">
</div>
</div>